.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 125px);
}

.main__inner-container {
  display: flex;
}

.flowers {
  margin-left: 230px;
  margin-right: 135px;
}

.main__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main__title {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 40px;
  margin-top: -200px;
}

.main__description {
  max-width: 871px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  color: rgba(28, 87, 19, 0.58);
}

.social-networks-icons {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
